h1 {
	font-family: @headerFont;
}

h2,
h3,
h4,
h5,
h6 {
	font-family: @subHeaderFont;
}
p,
a {
	font-family: @pFont;
}

body {
	width: 100%;
	margin: 0 auto;
}

.head {
	display: flex;
	justify-content: space-between;
	height: 100vh;
	background-image: url("../img/bowl.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	margin-top: 70px;

	h1 {
		//font-size: 3.6rem;
		font-size: calc(20px + (50 - 14) * ((100vw - 300px) / (1600 - 300)));
		text-align: center;
		margin: 2vh 0;
	}
	h3 {
		//font-size: 3.4rem;
		font-size: calc(20px + (40 - 14) * ((100vw - 300px) / (1600 - 300)));
		margin: 5vh 0;
	}

	div {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
		margin-top: 10vh;

		.btn {
			margin-top: 5vh;
			-moz-box-shadow: 3px 4px 0px 0px #3e7327;
			-webkit-box-shadow: 3px 4px 0px 0px #3e7327;
			box-shadow: 3px 4px 0px 0px #3e7327;
			background: -webkit-gradient(
				linear,
				left top,
				left bottom,
				color-stop(0.05, #77b55a),
				color-stop(1, #72b352)
			);
			background: -moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
			background: -webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
			background: -o-linear-gradient(top, #77b55a 5%, #72b352 100%);
			background: -ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
			background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(
					startColorstr='#77b55a',
					endColorstr='#72b352',
					GradientType=0
				);
			background-color: #77b55a;
			-moz-border-radius: 18px;
			-webkit-border-radius: 18px;
			border-radius: 18px;
			border: 1px solid #4b8f29;
			display: inline-block;
			cursor: pointer;
			color: #ffffff;
			font-family: @pFont;
			//font-size: 2.2rem;
			font-size: calc(16px + (30 - 14) * ((100vw - 300px) / (1600 - 300)));
			padding: 11px 58px;
			text-decoration: none;
			text-shadow: 0px 1px 0px #5b8a3c;
			&:hover {
				background: -webkit-gradient(
					linear,
					left top,
					left bottom,
					color-stop(0.05, #426830),
					color-stop(1, #334d27)
				);
				background: -moz-linear-gradient(top, #5b8f41 8%, #77b55a 100%);
				background: -webkit-linear-gradient(top, #5b8f41 8%, #77b55a 100%);
				background: -o-linear-gradient(top, #5b8f41 8%, #77b55a 100%);
				background: -ms-linear-gradient(top, #5b8f41 8%, #77b55a 100%);
				background: linear-gradient(to bottom, #5b8f41 8%, #77b55a 100%);
				filter: progid:DXImageTransform.Microsoft.gradient(
						startColorstr='#72b352',
						endColorstr='#77b55a',
						GradientType=0
					);
				background-color: #4d7937;
			}
			&:active {
				position: relative;
				top: 1px;
			}
		}
	}
	img {
		width: 50%;
	}
}

.about {
	display: flex;
	justify-content: space-between;
	line-height: 1.8;
	background-color: @headBackground;
	height: 100vh;
	h3 {
		font-size: calc(20px + (34 - 14) * ((100vw - 300px) / (1600 - 300)));
		text-align: center;
	}
	p {
		font-size: calc(16px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
	}

	div {
		margin-top: 30vh;
		width: 33%;
		display: flex;
		flex-direction: column;
		i {
			text-align: center;
			justify-items: center;
			margin-bottom: 20px;
		}
	}
}
