//fonts

//Color vars
@darkBackground: #3d4d41;
@lightBackground: #f8fdf7;
@headBackground: #d8d8d8;

@navLinks: #c6dad5;

@subHeaderFont: 'Red Hat Display', sans-serif;
@headerFont: 'Lexend Deca', sans-serif;
@pFont: 'Work Sans', sans-serif;

//mobile
@phone: ~"( max-width: 500px )";
@tablet: ~"(max-width:860px)";
